<!--{block return}-->
<div class="exfm cl">
    <div class="sinf sppoll z">
        <div><b>售卖信息</b></div><br>
        <dl>
            <dt>
                单价：<span class="rq">*</span>
            </dt>
            <dd>
                <em>
                    <input type="number" name="item_price" id="item_price" class="px" value="">
                </em>
            </dd>
            <dt>
                数量：<span class="rq">*</span>
            </dt>
            <dd>
                <em>
                    <input type="number" name="item_number" id="item_number" class="px" value="">
                </em>
            </dd>
        </dl>
    </div>
    <div class="sadd z">
        <div><b>上传收款二维码</b></div><br>
        <dl class="cl">
            <dt>微信:</dt>
            <dd class="pns">
                <button type="button" class="pn" onclick="uploadWindow(function (aid, url){tradeaid_upload(aid, url)})"><span>上传</span></button>
                <input type="hidden" name="tradeaid" id="tradeaid">
                <input type="hidden" name="tradeaid_url" id="tradeaid_url">
                <div id="tradeattach_image" class="ptn">
                </div>
            </dd>
            <dt>支付宝:</dt>
            <dd class="pns">
                <button type="button" class="pn" onclick="uploadWindow(function (aid, url){activityaid_upload(aid, url)})"><span>上传</span></button>
                <input type="hidden" name="activityaid" id="activityaid">
                <input type="hidden" name="activityaid_url" id="activityaid_url">
                <div id="activityattach_image" class="ptn">
                </div>
            </dd>
        </dl>
    </div>
</div>
<script>
EXTRAFUNC['validator']['special'] = 'validateextra';
function validateextra(){
    if($('postform').item_price.value == '') {
        showDialog('抱歉，请输入售卖单价', 'alert', '', function () { $('postform').item_price.focus() });
        return false;
    }
    if($('postform').item_number.value == '') {
        showDialog('抱歉，请输入售卖数量', 'alert', '', function () { $('postform').item_number.focus() });
        return false;
    }
    if($('postform').tradeaid_url.value == '' && $('postform').activityaid_url.value == '') {
        showDialog('抱歉，至少上传一张收款二维码', 'alert', '', function () { $('postform').item_number.focus() });
        return false;
    }
    return true;
}
function tradeaid_upload(aid, url) {
    $('tradeaid_url').value = url;
    updatetradeattach(aid, url, 'data/attachment/forum');
}
function activityaid_upload(aid, url) {
    $('activityaid_url').value = url;
    updateactivityattach(aid, url, 'data/attachment/forum');
}
</script>
<!--{/block}-->