@charset "utf-8";
/*---------------------------------------------------
1.RestCss
---------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dd,
dl, dt, li, ol, ul, form, label, input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    list-style-type: none;
    box-shadow: none;
    outline: none
}

body,button,input,select,textarea{font:400 14px Arial,Verdana,"Microsoft YaHei"}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
/*body{line-height:1}*/
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
button{background:none;cursor: pointer}
input,label,button,img{vertical-align:middle}
input[type="button"],input[type="submit"],button{cursor:pointer;border:none 0}
input:focus,button:focus{outline:none}
.cl{clear:both;margin-top:50px;}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt5{margin-top:5px}
.mt30{margin-top:30px}
.mt70{margin-top:70px}
.mt070{margin-top:-70px}
.cff{color:#fff}
.mr10{margin-right:10px}
.ml10{margin-left:10px}
.ceb{color:#eb6100}
.wp{width:1200px;margin:0 auto}
.tc{text-align:center}
.pr{position:relative}
.undis{display:none}
.ceb{color:#eb6100;font-weight:700}
.c32{color:#329a48}
.cc0{color:#c00}
.c29{color:#294786}
.ccf{color:#cf0f32}
a{text-decoration:none;color:#d8ad56; cursor: pointer}
a:hover{text-decoration:none;color:#d4d4d4;-moz-transition:color .2s ease,background-color .2s ease,border-color .2s ease;-webkit-transition:color .2s ease,background-color .2s ease,border-color .2s ease;-o-transition:color .2s ease,background-color .2s ease,border-color .2s ease;transition:color .2s ease,background-color .2s ease,border-color .2s ease}
#iframebox,#phone-box,#live800-box{width:auto;height:auto;position:fixed;top:0;left:0;z-index:9999;display:none;border-radius:6px;outline:0}
#screen{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:9998;filter:alpha(opacity=80);opacity:.8;display:none}
.dialog-backdrop{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1030;background-color:#000;opacity:.5;filter:alpha(opacity=50)}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix{zoom:1}
.fl{float:left}
.fr{float:right}
.container{width:100%;border-collapse:collapse}
.heading{font-weight:700;display:table-row;background-color:#230b06;text-align:center;line-height:25px;font-size:14px;font-family:georgia;color:#663325;height:35px}
.table-row{display:table-row;text-align:center;background-color:#2b100a;height:35px}
.col{display:table-cell;border:1px solid #47221b}
.col1{display:table-cell;width:100px;text-align:center;border-right:1px solid #47221b;border-top:1px solid #47221b;line-height:27px;margin:0 -1px}
.col2{display:table-cell;height:35px;width:100px;text-align:center;border-right:1px solid #47221b;line-height:35px;margin:0 -1px}
.b1{border-right:none}
.tab_hd li{float:left}
.tab_hd:before,.tab_hd:after{display:table;content:" "}
.tab_hd:after{clear:both}
.tab_hd li a{display:block;color:#4f4f4f;position:relative;border:1px solid transparent;text-align:center}
.tab_bd > .tab_panel{display:none}
.tab_bd > .tab_panel.active{display:block}
.fade{opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .15s linear;transition:opacity .15s linear}
.fade.in{filter:alpha(opacity=100);opacity:1}
@-webkit-keyframes lightSpeedIn {
    0%{-webkit-transform:translate3d(100%,0,0) skewX(0);opacity:0}
    100%{-webkit-transform:none;opacity:1}
}
@keyframes lightSpeedIn {
    0%{transform:translate3d(100%,0,0) skewX(0);opacity:0}
    100%{transform:none;opacity:1}
}
@-webkit-keyframes m2ball {
    0%{opacity:1;-webkit-transform:translateY(-4px);transform:translateY(-4px)}
    50%{opacity:1;-webkit-transform:translateY(0px);transform:translateY(0px)}
    100%{opacity:1;-webkit-transform:translateY(-4px);transform:translateY(-4px)}
}
@keyframes m2ball {
    0%{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px)}
    50%{opacity:1;-webkit-transform:translateY(0px);transform:translateY(0px)}
    100%{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px)}
}
@-webkit-keyframes light-left {
    0%{opacity:.6;-webkit-transform:rotate(10deg)}
    30%{opacity:1}
    100%{opacity:.6;-webkit-transform:rotate(-100deg)}
}
@keyframes light-left {
    0%{opacity:.5;transform:rotate(-10deg)}
    30%,70%{opacity:1}
    100%{opacity:.5;transform:rotate(40deg)}
}
@-webkit-keyframes light-right {
    0%{opacity:.6;-webkit-transform:rotate(10deg)}
    30%{opacity:1}
    100%{opacity:.6;-webkit-transform:rotate(-40deg)}
}
@keyframes light-right {
    0%{opacity:.6;transform:rotate(10deg)}
    30%{opacity:1}
    100%{opacity:.6;transform:rotate(-40deg)}
}
.container-help{display:table;width:100%;border-collapse:collapse;font-size:12px}
::-webkit-scrollbar{width:6px;height:6px}
::-webkit-scrollbar-track-piece{background-color:#eee;margin:-2px}
::-webkit-scrollbar-thumb{background:#aaa;min-height:150px;min-width:150px;border-radius:10px}
::-webkit-scrollbar-thumb:vertical:hover{background:#555}
::-webkit-scrollbar-thumb:horizontal:hover{background:#555}