<!--{block return}-->
<div class="trdc xs1">
<!-- <em>商品数: 1</em> -->
<!-- <a href="forum.php?mod=misc&amp;action=tradeorder&amp;tid=51" onclick="showWindow('tradeorder', this.href)">柜台商品管理</a> -->
<!-- <a href="forum.php?mod=post&amp;action=reply&amp;fid=2&amp;tid=51&amp;firstpid=57&amp;addtrade=yes">+ 添加商品</a> -->
<!-- <span class="pipe">|</span> -->
<!-- <a href="javascript:;" onclick="window.open('home.php?mod=space&amp;uid=1&amp;do=trade&amp;view=tradelog','','');return false;">交易记录</a> -->
</div>
<div class="xs1 cl">
    <div class="trdb">
        <div id="tradeinfo58">
            <div class="bbda ptm act cl" style="boder:0">
                <div class="cl">
                    <!--{if $guest == 'buyer' || $guest == 'seller'}-->
                    <div class="spvimg">
                        <a href="javascript:;"><img src="data/attachment/forum/$data['wx']")" width="300" _width="300" _height="300" alt="博比" id="" initialized="true"></a>
                        <p class="ptm pbm"><a class="xi1 xw1" style="padding-left: 20px;">博币售卖</a></p>
                    </div>
                    <!--{else}-->
                    <div class="spvimg">
                        <a href="javascript:;"><img src="./source/plugin/transaction/bi.jpg")" width="300" _width="300" _height="300" alt="博比" id="" initialized="true"></a>
                        <p class="ptm pbm"><a class="xi1 xw1" style="padding-left: 20px;">博币售卖</a></p>
                    </div>
                    <!--{/if}-->
                    <div class="spi cl">
                        <!--{if $data['status'] == 'selling'}-->
                        <h4 class="wx mbm bbda"><a>售卖中</a></h4>
                        <!--{elseif $data['status'] == 'paying'}-->
                            <!--{if $guest == 'buyer'}-->
                            <h4 class="wx mbm bbda"><a>请扫码支付给卖家</a></h4>
                            <!--{elseif $guest == 'seller'}-->
                            <h4 class="wx mbm bbda"><a>等待买家支付</a></h4>
                            <!--{else}-->
                            <h4 class="wx mbm bbda"><a>交易支付中</a></h4>
                            <!--{/if}-->
                        <!--{elseif $data['status'] == 'paied'}-->
                            <!--{if $guest == 'seller'}-->
                            <h4 class="wx mbm bbda"><a>买家已支付，请确认收款</a></h4>
                            <!--{elseif $guest == 'buyer'}-->
                            <h4 class="wx mbm bbda"><a>请等待卖家确认收款</a></h4>
                            <!--{else}-->
                            <h4 class="wx mbm bbda"><a>交易已支付</a></h4>
                            <!--{/if}-->
                        <!--{elseif $data['status'] == 'end'}-->
                        <h4 class="wx mbm bbda"><a>交易已完成</a></h4>
                        <!--{elseif $data['status'] == 'canceled'}-->
                        <h4 class="wx mbm bbda"><a>卖家已取消</a></h4>
                        <!--{/if}-->
                        <dl>
                            <dt>数量：</dt>
                            <dd>$data[number]个</dd>
                            <dt>单价：</dt>
                            <dd>$data[price]元/个</dd>
                        </dl>
                        <dl class="nums">
                            <dt>总价：</dt>
                            <!--{eval $mount = $data[number]*$data[price];}-->
                            <dd><p><em>$mount.00</em>&nbsp;元</p></dd>
                        </dl>
                        <!--{if $guest == 'guest'}-->
                            <form id="process" name="process" action="plugin.php?id=transaction:process">
                                <input type="hidden" id="action" name="action" value="login"><input type="hidden" id="tid" name="tid" value="$data['tid']">
                            </form>
                            <input type="button" id="p_bt" value="我要购买" onclick="p()"/>
                        <!--{else}-->
                            <!--{if $data['status'] == 'selling'}-->
                                <!--{if $guest == 'seller'}-->
                                <form id="process" name="process" action="plugin.php?id=transaction:process">
                                    <input type="hidden" id="action" name="action" value="cancel"><input type="hidden" id="tid" name="tid" value="$data['tid']">
                                </form>
                                <input type="button" id="p_bt" value="取消售卖" onclick="p()"/>
                                <!--{else}-->
                                <form id="process" name="process" action="plugin.php?id=transaction:process">
                                    <input type="hidden" id="action" name="action" value="buy"><input type="hidden" id="tid" name="tid" value="$data['tid']">
                                </form>
                                <input type="button" id="p_bt" value="我要购买" onclick="p()"/>
                                <!--{/if}-->
                            <!--{elseif $data['status'] == 'paying'}-->
                                <!--{if $guest == 'buyer'}-->
                                <form id="process" name="process" action="plugin.php?id=transaction:process">
                                    <input type="hidden" id="action" name="action" value="paied"><input type="hidden" id="tid" name="tid" value="$data['tid']">
                                </form>
                                <input type="button" id="p_bt" value="我已支付" onclick="p()"/>
                                <!--{/if}-->
                            <!--{elseif $data['status'] == 'paied'}-->
                                <!--{if $guest == 'seller'}-->
                                <form id="process" name="process" action="plugin.php?id=transaction:process">
                                    <input type="hidden" id="action" name="action" value="receipt"><input type="hidden" id="tid" name="tid" value="$data['tid']">
                                </form>
                                <input type="button" id="p_bt" value="我已收款" onclick="p()"/>
                                <!--{/if}-->
                            <!--{/if}-->
                        <!--{/if}-->
                        <script>
                        function p(event){
                            var xmlhttp;
                            var action = document.getElementById('action').value;
                            var tid = document.getElementById('tid').value;
                            var url = 'plugin.php?id=transaction:process&' + "action=" + action + "&tid=" + tid;
                            
                            if (action == 'login') {
                                showWindow('login', 'member.php?mod=logging&action=login');
                                return false;
                            }
                            
                            if (window.XMLHttpRequest)
                            {
                                xmlhttp=new XMLHttpRequest();
                            }
                            else
                            {
                                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                            }
                            xmlhttp.open("GET", url, false);
                            xmlhttp.send();
                            var r = xmlhttp.responseText;
                            if (r != 'true'){
                                showDialog(r, 'notice', '提示');
                            }else {
                                location.reload();
                            }
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="postmessage_57"></div>
<!--{/block}-->